@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

.dashboard-card {

    transition:
    transform .25s ease,
    box-shadow .25s ease;

    border-radius:24px;

}

.dashboard-card:hover {

    transform:
    translateY(-6px);

    box-shadow:
    0 18px 40px
    rgba(0,0,0,.08);

}

.dashboard-background {

    background:

    linear-gradient(
    180deg,
    #f8faff,
    #eef2ff
    );

}

.logo-mr{

width:58px;
height:58px;

background:

linear-gradient(
135deg,
#2563eb,
#1d4ed8
);

font-weight:900;
font-size:25px;

letter-spacing:-2px;

}

.logo-m{

color:white;

}

.logo-r{

color:#93c5fd;

}

.nav-premium{

color:

rgba(
255,
255,
255,
0.82
)!important;

padding:

10px 18px!important;

border-radius:14px;

font-weight:600;

white-space:nowrap;

transition:

all .25s ease;

display:flex;

align-items:center;

font-size:.95rem;

}

.nav-premium i{

opacity:.85;

}

.nav-premium:hover{

background:

rgba(
255,
255,
255,
.08
);

color:

white!important;

transform:

translateY(-2px);

}

.nav-premium:hover i{

opacity:1;

}

.active-nav{

background:

rgba(
37,
99,
235,
.22
);

color:

white!important;

box-shadow:

0 0 20px
rgba(
37,
99,
235,
.25
);

}

.active-nav i{

opacity:1;

}

.nav-premium:hover{

background:

rgba(255,255,255,.06);

color:white!important;

transform:

translateY(-2px);

}

.user-premium{

padding:10px 14px;

background:

rgba(255,255,255,.04);

border:

1px solid rgba(255,255,255,.05);

border-radius:18px;

}

.avatar-premium{

width:45px;
height:45px;

border-radius:14px;

background:

linear-gradient(
135deg,
#2563eb,
#3b82f6
);

display:flex;

justify-content:center;

align-items:center;

font-weight:700;

color:white;

}

.btn-premium{

border-radius:18px;

padding:

10px 22px;

background:

#2563eb;

border:none;

color:white;

}

.btn-premium:hover{

background:

#1d4ed8;

}

.logo-mr:hover{

transform:

rotate(-4deg)
scale(1.05);

transition:.25s;

}

.logo-mr{

transition:.3s;

box-shadow:

0 0 25px
rgba(37,99,235,.25);

}

.logo-mr:hover{

transform:

rotate(-8deg)
scale(1.08);

box-shadow:

0 0 35px
rgba(37,99,235,.45);

}